<% if user_signed_in? %>

<li class="menu">
<span><%= current_user.email %></span>
<ul> 
<li>
  <%= link_to('My Account', edit_user_registration_path) %>
  </li>
<li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
</ul>
</li>
<% else %>
<li>
<%= link_to('Login', new_user_session_path)  %>  
</li>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>

